*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body-location{
  background : #333;
  background: url(assets/porsche-1851246__340.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}
.mb-3{
  width: 30%;
  margin-left: auto;
  margin-right:auto;
}
.button {
  margin-left: auto;
  margin-right:auto;
  width: 40%;
}
button{
  width:100%;
}

.label-loc{
  color: white;
}