
.body-location{
  background : #333;
  background: url(assets/bgloc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}
.mb-3{
  width: 30%;
  margin-left: auto;
  margin-right:auto;
}
.button {
  margin-left: auto;
  margin-right:auto;
  width: 40%;
}
button{
  width:100%;
}

.label-loc{
  color: white;
  font-size: 20px;
}

.car-loc{

  margin-left: 35%;
}

.input-total{

  font-size: 40px;
  text-align: center;
  width: 200px;
  background: transparent;
  border: none;
  color: white;
  text-align: left;
}

.total{
  margin-left: 35%;
  font-size: 40px;
}