*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-location {
  background: #333;
  background: url(assets/bgloc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}

.mb-3 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

button {
  width: 100%;
}

.label-loc {
  color: white;
  font-size: 20px;
}

.car-loc {
  margin-left: 35%;
}

.input-total {
  font-size: 40px;
  text-align: center;
  width: 200px;
  background: transparent;
  border: none;
  color: white;
  text-align: left;
}

.total {
  margin-left: 35%;
  font-size: 40px;
}

.body-vehicle {
  background-image: url("./assets/whiteroom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-right: 10px;
}

.imgCars-vehicule {
  width: 600px;
  height: 300px;
  border: black solid 2px;
  vertical-align: top;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-left: 35%;
}

.listeCars {
  flex-wrap: wrap;
  align-items: center;
  height: 200px;
  max-width: 100%;
  cursor: pointer;
  padding: 30px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  /*height: 200px;*/
  color: #f1f1f1;
}

.carInfo {
  width: 1300px;
  height: 300px;
  display: none;
  text-align: center;
  color: white;
  background-size: contain;
  background: url("assets/bgVehicu.jpg") no-repeat;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-left: 31px;
  border-radius: 15px;
}

.carContainer.active .carInfo {
  display: inline-block;
  padding-top: 15px;
  margin-left: 17%;
}

.carContainer h2 {
  text-align: center;
  background: black;
  color: white;
}

a {
  background: white;
  color: red;
}

header {
  position: static;
  z-index: 1000;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.showcase {
  position: static;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.showcase .overlay {
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.showcase video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.showcase video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: -1;
}

.h1-login {
  margin-top: 105px;
}

h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  color: #f1f1f1;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.71);
  margin-top: 150px;
}

h1 span {
  font-size: 180%;
  position: relative;
  color: #f1f1f1;
}

.slogan {
  text-align: center;
  color: aliceblue;
  font-size: 190%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.71);
}

.titleInput-index {
  width: 100%;
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.researchZone {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10px;
}

.titleCarInfo {
  color: rgb(117, 117, 117);
}

.imgCars {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 15px 15px;
  width: 600px;
  height: 300px;
  border: black solid 1px;
  background-color: rgba(0, 0, 0, 0.829);
}

.carInfo-index {
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 0px 0px;
  width: 600px;
  height: 135px;
  border: black solid 1px;
  background-color: rgba(0, 0, 0, 0.829);
  padding-top: 2%;
  padding-left: 2%;
  color: darkgray;
}

.listeCars-index {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13%;
  /*height: 200px;*/
  color: #f1f1f1;
}

.index-btn-search {
  width: 30%;
  margin-top: 5%;
}

.index-btn-loc {
  width: 30%;
  margin-bottom: 30%;
  color: black;
}

footer {
  display: flex;
  background: #2c3e50;
  flex-flow: row-reverse;
  color: #fff;
  padding: 1.5rem;
  margin-top: 50px;
  margin-bottom: 0;
}

/*-------------------------------------------------------------*/
@media (max-width: 768px) {
  #type.form-control {
    width: 260%;
  }
  .row {
    flex-direction: column;
  }
  .index-btn-search {
    width: 60%;
    margin-top: 5%;
  }
  .carInfo-index, .imgCars {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .titleInputV {
    width: 180%;
  }
}
.body-contact {
  background-image: url("./assets/road-yellow-line.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

.label-contact {
  width: 100%;
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgba(0, 19, 223, 0.5);
}

.btn-all {
  width: 250px;
  margin-left: 35%;
}

.form-contact {
  margin-right: 70px;
}

.title-contact {
  margin-right: 70px;
}

.header-element {
  margin-right: 10px;
}

.body-login {
  background-image: url("assets/bglogin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.h1-login {
  margin-top: 105px;
}

.body-profil {
  background-image: url("assets/bgprofil.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-profil {
  margin-left: 20px;
  margin-right: 20px;
}

.title-profil span {
  font-size: 180%;
  position: relative;
  color: black;
}

.hello-profil {
  margin-left: 15px;
  margin-bottom: 40px;
  font-size: 60px;
}

.label-profil {
  font-weight: bold;
  font-size: 18px;
}

.historique {
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.historique h2 {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
